<h2 class="mt-4"><%= @restaurant.name.capitalize %></h2>
<div class="card">
  <div class="card-body">
    <p>Adress: <%= @restaurant.address %></p>
    <p>Phone: <%= @restaurant.phone_number %></p>
    <p>Category: <%= @restaurant.category.capitalize %></p>
  </div>
</div>
<br>
<%= link_to "Back to restaurants", restaurants_path%>
<br>

<h3 class="mt-3">Reviews</h3>
<div class="row">
  <% @restaurant.reviews.each do |review| %>
    <div class="col-sm-6">
      <div class="card bg-light">
        <div class="card-body">
          <p><%= review.content %></p>
          <p><%= review.rating %>/5</p>
        </div>
      </div>
   </div>
  <% end %>
</div>

<h4 class="mt-3">Add Review</h4>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit class: "btn btn-outline-secondary" %>
<% end %>
